{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>

    <meta charset="UTF-8">
    <title>
        {% block title %}
        Liên hệ
        {% endblock %}
    </title>
    <!-- reponsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- main stylesheet -->
</head>

<div class="preloader"></div>

<section id="page-title" style="background-image: url({% static 'img/page-title/123.jpg' %});">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Liên hệ</h2>
			</div>
		</div>
	</div>
</section><!-- /.page-title -->

<!-- .contact-content -->

<section id="appointment" class="anim-5-all dark-background">
	<div class="container">
		<div class="row">
			<!-- .agent-info -->
			<div class="col-lg-7 col-md-8 col-lg-offset-0 col-md-offset-2 agent-info">
				<!-- .img-holder -->
				<div class="img-holder text-center-xs">
					<img src="{% static 'img/appointment/hue.jpg' %}" alt="">
				</div><!-- /.img-holder -->
				<!-- .content -->
				<div class="content">
					<!-- .section-title -->
					<div class="section-title">
						<span>Văn phòng</span>
						<h2><span>Liên hệ với Lion Invest</span></h2>
					</div><!-- /.section-title -->
					<h3>Huế Nguyễn</h3>
					<p>(Trợ lý giám đốc)</p>
					<p>Phone : 091-110-0502</p>
					<p>Email : lioninvestco@gmail.com</p>
				</div><!-- /.content -->
			</div><!-- /.agent-info -->
			<!-- .contact-form-wrap -->
			<div class="col-lg-5 col-md-7 col-lg-offset-0 col-md-offset-2 contact-form-wrap">
				<h3>Gửi tin nhắn</h3>
				<form action="http://world5.commonsupport.com/html/apart-villa/inc/sendemail.php" class="contact-form">
					<p><input name="name" type="text" placeholder="Tên"></p>
					<p><input name="phone" type="text" placeholder="Số điện thoại"></p>
					<p><input name="email" type="text" placeholder="E-mail"></p>
					<p><textarea name="message" placeholder="Tin nhắn"></textarea></p>
					<p><button type="submit">Gửi đi</button></p>
				</form>
			</div><!-- /.contact-form-wrap -->
		</div>
	</div>
</section><!-- /#appointment -->


<section class="contact-style-two anim-12-all" id="contact-section">
	<div class="container">
		<div class="row">
			<div class="col-md-5 contact-info-wrap">
				<!-- .section-title -->
				<div class="section-title">
					<span>Văn phòng đại diện</span>
					<h2><span>Lion Invest</span></h2>
				</div><!-- /.section-title -->
				<div class="contact-info">
					<ul>
						<li>Phòng 502 - GIC Tower <br>18A Nguyễn Gia Trí, Phường 25, Bình Thạnh</li>
						<li>Phone : 0911 -100-502</li>
						<li>Email : lionivestco@gmail.com</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</section>

<!-- #home-footer-google-map-wrap -->
<section id="home-footer-google-map-wrap">
	<div class="form">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.560692515782!2d106.7143735941038!3d10.802014145296555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a5b2cc7211%3A0x6f2766199d553684!2zMThhIMSQxrDhu51uZyBOZ3V54buFbiBHaWEgVHLDrSwgUGjGsOG7nW5nIDI1LCBCw6xuaCBUaOG6oW5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1572581052711!5m2!1svi!2s"
			width="2000" height="450" frameborder="1" style="border:0;" allowfullscreen=""></iframe>
	</div>
</section>
{% endblock %}