{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>
        {% block head_title %}
        Chi tiết khóa học
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="preloader"></div>

<div id="banner-style-two" class="anim-5-all">
    <div class="container clearfix">
        <div class="col-md-6 col-sm-6 banner-content pull-left">
            <div class="banner-content-box">
                <h1>BDS Thực tế</h1>
                <p>Đây là khóa học đầu tư BDS dành cho những ai đã, đang và có dự định đầu tư vào thị trường BDS</p>
                <p>Được giảng dạy bởi chuyên gia hàng đầu trong lĩnh vực.</p>
                <p>Hãy là nhà đầu tư thông minh</p>
            </div>
            <a href="#" data-toggle="modal" data-target="#contact-agent-modal">Khóa học <i
                    class="fa fa-arrow-circle-right"></i></a>
        </div>
        <div class="make-appointment contact-content pull-right">
            <div class="top-header">
                <h3>Nhận thông tin khóa học</h3>
            </div>
            <!-- .contact-form-wrap -->
            <div class="contact-form-wrap">
                <form action="http://world5.commonsupport.com/html/apart-villa/inc/sendemail.php" class="contact-form">
                    <p><input name="name" type="text" placeholder="Tên"></p>
                    <p><input name="phone" type="text" placeholder="Số điện thoại"></p>
                    <p><input name="email" type="text" placeholder="Email"></p>
                    <p><textarea name="message" placeholder="Tin nhắn"></textarea></p>
                    <p><button type="submit">Chấp nhận</button></p>
                </form>
            </div><!-- /.contact-form-wrap -->
        </div>
    </div>
</div>

<section id="about-section" class="parallax-section" style="background-image: url{% static 'img/about/bg.png' %};">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center-sm text-center-xs">
                <!-- .img-holder -->
                <div class="img-holder">

                    <img src="{% static 'img/about/1.jpg' %}" alt="">
                </div><!-- /.img-holder -->
            </div>
            <!-- .about-text -->
            <div class="col-lg-8 col-md-8 about-text">
                <!-- .section-title -->
                <div class="section-title">
                    <span>Bạn thân mến!</span>
                    <h2><span>Lời ngỏ</span></h2>
                </div><!-- /.section-title -->
                <p>
                    Bạn đang thuê trọ & chi phí thuê nhà mỗi ngày mỗi tăng vì trượt giá, vì nhu cầu cuộc sống ngày càng
                    tăng do bạn đã đi làm, bạn sắp có gia đình hoặc phải cưu mang anh em. Thế nhưng thực tế có những
                    người ở trọ không những không mất tiền mà còn có thu nhập! Đơn giản là họ thuê nguyên căn & cho thuê
                    lại! Sẽ có vô vàn câu hỏi đặt ra như sao chủ nhà không tự làm, ngộ nhỡ không cho thuê được nhà thì
                    sao …etc.</p>
                    <p>Bạn đã đi làm & rất muốn có nhà cửa ổn định gia đình, nhưng mua nhà gần chỗ làm thì không
                        đủ tiền, mua ở xa thì đường xá ùn tắc, an ninh không đảm bảo … rồi lại phải vay nợ quá nhiều. Bạn cứ
                        phân vân lần lữa & dường như thời gian không ủng hộ bạn, giá nhà đất đang đi lên và đâu đó đã xuất
                        hiện những cơn sốt bất động sản, số tiền bạn có dường như cứ nhỏ bé lại dần. 
                    </p>
                    <p>Việc tìm kiếm căn nhà ưng ý cũng làm bạn hàng tháng trời mệt mỏi, nhưng tìm được rồi thì vô vàn vấn đề pháp lý xuất hiện,
                        bạn rất lúng túng & hoàn toàn phụ thuộc vào chỉ dẫn của Cò. Mua xong lại xuất hiện hàng loạt vấn đề
                        & rốt cuộc bạn lại chỉ muốn bán tống bán tháo nó đi. Trong khi đó có những người mua đi bán lại
                        xoành xoạch và mỗi căn họ kiếm từ 200-500tr trong 6 tháng!
                    </p>
                    <p>Bạn muốn bán nhà để hoán đổi hoặc giải
                        quyết vấn đề tài chính, nhưng rao đã quá lâu mà khách cứ chê ỏng eo đòi giảm giá thê thảm hoặc lỗ te
                        tua vì lãi vay ngân hàng khi mua. Trong khi ông Cò đã lấy 1-2% của bạn mà vẫn còn đòi bạn giảm giá
                        bán. Thiên hạ thì giao dịch vèo vèo, bán hàng chục căn 1 lúc. Thậm chí có thể bạn là một nhà đầu tư
                        cá nhân, nhưng để đầu tư một dự án thì bạn rất rối trí với một rừng văn bản pháp luật với các thủ
                        tục rắc rối với những đặc điểm rất riêng. Trong khi các chủ đầu tư khác liên tục công bố những dự án
                        hàng trăm căn hộ, đất nền với tỷ suất lợi nhuận cao ngất.</p>
                   </p>
                   <p><span>“Tôi ngạc nhiên rằng chúng ta sẵn sàng đi 3 shop tìm hiểu chỉ để mua 1 cái áo, nhưng có rất nhiều người lại không hề có một kiến thức gì về BĐS khi bỏ ra số tiền tích cóp 20 năm để mua nhà” </br>
                    <strong>(Phạm Tuấn Anh)</strong>

                    </span></p>

                <div class="section-title">
                    <h2><span>Bạn đang mong muốn</span></h2>
                </div><!-- /.section-title -->
                <ul>
                    <li><i class="fa fa-check-square-o"></i>Học cách đầu tư BDS sao cho hiệu quả?
                    </li>
                    <li><i class="fa fa-check-square-o"></i>Tiền ở đâu để mua BDS?
                    </li>
                    <li><i class="fa fa-check-square-o"></i>Định giá BDS như thế nào?
                    </li>
                    <li><i class="fa fa-check-square-o"></i>Lập DA ĐT ra sao?
                    </li>
                    <li><i class="fa fa-check-square-o"></i>Kế hoạch cuộc đời, tài chính cá nhân của bạn?
                    </li>
                    <li><i class="fa fa-check-square-o"></i>Tiến độ, quản lý thời gian thực hiện như thế nào?
                    </li>
                </ul>

            </div><!-- /.about-text -->
        </div>
    </div>
</section><!-- /#about-section -->

<!-- #property-highlight -->
<section id="property-highlight">
    <div class="container">
        <div class="row">
            <!-- .full-img -->
            <div class="col-lg-5 col-md-12 col-sm-12 full-img">
                <!-- .img-holder -->
                <div class="img-holder">
                    <img src="{% static 'img/property-highlight/1.jpg' %}" alt="">
                </div><!-- /.img-holder -->
            </div><!-- /.full-img -->
            <!-- .property-highlight-text -->
            <div class="col-lg-7 col-md-12 col-sm-12 property-highlight-text">
                <!-- .section-title -->
                <div class="section-title">
                    <h2><span>Khóa học mang lại</span></h2>
                </div><!-- /.section-title -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- .single-property-highlight -->
                        <div class="single-property-highlight">
                            <h3>Chiến lược đầu tư BDS</h3>
                            <p>Neque porro quisquam est</p>
                        </div><!-- /.single-property-highlight -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- .single-property-highlight -->
                        <div class="single-property-highlight">
                            <h3>Tài chính trong BDS</h3>
                            <p>Neque porro quisquam est</p>
                        </div><!-- /.single-property-highlight -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- .single-property-highlight -->
                        <div class="single-property-highlight">
                            <h3>Định giá BDS</h3>
                            <p>Neque porro quisquam est</p>
                        </div><!-- /.single-property-highlight -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- .single-property-highlight -->
                        <div class="single-property-highlight">
                            <h3>Lập DA ĐT</h3>
                            <p>Neque porro quisquam est</p>
                        </div><!-- /.single-property-highlight -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- .single-property-highlight -->
                        <div class="single-property-highlight">
                            <h3>Kế hoạch cuộc đời, tài chính cá nhân</h3>
                            <p>Neque porro quisquam est, </p>
                        </div><!-- /.single-property-highlight -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <!-- .single-property-highlight -->
                        <div class="single-property-highlight">
                            <h3>Tiến độ, quản lý thời gian</h3>
                            <p>Neque porro quisquam est, </p>
                        </div><!-- /.single-property-highlight -->
                    </div>
                </div>
            </div><!-- /.property-highlight-text -->
        </div>
    </div>
</section><!-- /#property-highlight -->


<!-- .sliding-gallery -->
<section class="sliding-gallery dark-bg" id="gallery-section">
    <div class="container-fluid">
        <!-- .section-title -->
        <div class="section-title text-center">
            <h2><span>hình ảnh</span></h2>
            <p>Một số hình ảnh về các lớp học BDS</p>
        </div><!-- /.section-title -->
        <div class="row">
            <!-- .image-gallery -->
            <div class="image-gallery bx-slider">
                <!-- .single-gallery -->
                <div class="single-gallery slide anim-5-all">
                    <div class="img-holder">
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="">

                        <div class="content">
                            <div class="image-view">
                                <a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="title-holder">
                                <h4>Luxury Estate</h4>
                            </div>
                            <div class="link-view">
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="item-name">Luxury Estate</div>
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
                        <div class="item-text">
                            <p>Đây là dự án... <br> đầu tư .... </p>
                            <ul>
                                <li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
                                <li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
                                <li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- /.single-gallery -->
                <div class="single-gallery slide anim-5-all">
                    <div class="img-holder">
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="">

                        <div class="content">
                            <div class="image-view">
                                <a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="title-holder">
                                <h4>Luxury Estate</h4>
                            </div>
                            <div class="link-view">
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="item-name">Luxury Estate</div>
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
                        <div class="item-text">
                            <p>Đây là dự án... <br> đầu tư .... </p>
                            <ul>
                                <li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
                                <li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
                                <li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- /.single-gallery -->
                <div class="single-gallery slide anim-5-all">
                    <div class="img-holder">
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="">

                        <div class="content">
                            <div class="image-view">
                                <a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="title-holder">
                                <h4>Luxury Estate</h4>
                            </div>
                            <div class="link-view">
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="item-name">Luxury Estate</div>
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
                        <div class="item-text">
                            <p>Đây là dự án... <br> đầu tư .... </p>
                            <ul>
                                <li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
                                <li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
                                <li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- /.single-gallery -->
                <div class="single-gallery slide anim-5-all">
                    <div class="img-holder">
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="">

                        <div class="content">
                            <div class="image-view">
                                <a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="title-holder">
                                <h4>Luxury Estate</h4>
                            </div>
                            <div class="link-view">
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="item-name">Luxury Estate</div>
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
                        <div class="item-text">
                            <p>Đây là dự án... <br> đầu tư .... </p>
                            <ul>
                                <li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
                                <li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
                                <li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- /.single-gallery -->
                <div class="single-gallery slide anim-5-all">
                    <div class="img-holder">
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="">

                        <div class="content">
                            <div class="image-view">
                                <a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="title-holder">
                                <h4>Luxury Estate</h4>
                            </div>
                            <div class="link-view">
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="item-name">Luxury Estate</div>
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
                        <div class="item-text">
                            <p>Đây là dự án... <br> đầu tư .... </p>
                            <ul>
                                <li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
                                <li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
                                <li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- /.single-gallery -->
                <div class="single-gallery slide anim-5-all">
                    <div class="img-holder">
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="">

                        <div class="content">
                            <div class="image-view">
                                <a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="title-holder">
                                <h4>Luxury Estate</h4>
                            </div>
                            <div class="link-view">
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="item-name">Luxury Estate</div>
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
                        <div class="item-text">
                            <p>Đây là dự án... <br> đầu tư .... </p>
                            <ul>
                                <li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
                                <li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
                                <li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- /.single-gallery -->
                <div class="single-gallery slide anim-5-all">
                    <div class="img-holder">
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="">

                        <div class="content">
                            <div class="image-view">
                                <a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="title-holder">
                                <h4>Luxury Estate</h4>
                            </div>
                            <div class="link-view">
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="item-name">Luxury Estate</div>
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
                        <div class="item-text">
                            <p>Đây là dự án... <br> đầu tư .... </p>
                            <ul>
                                <li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
                                <li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
                                <li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- /.single-gallery -->
                <div class="single-gallery slide anim-5-all">
                    <div class="img-holder">
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="">

                        <div class="content">
                            <div class="image-view">
                                <a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="title-holder">
                                <h4>Luxury Estate</h4>
                            </div>
                            <div class="link-view">
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="item-name">Luxury Estate</div>
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
                        <div class="item-text">
                            <p>Đây là dự án... <br> đầu tư .... </p>
                            <ul>
                                <li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
                                <li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
                                <li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- /.single-gallery -->
                <div class="single-gallery slide anim-5-all">
                    <div class="img-holder">
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="">

                        <div class="content">
                            <div class="image-view">
                                <a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="title-holder">
                                <h4>Luxury Estate</h4>
                            </div>
                            <div class="link-view">
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="item-name">Luxury Estate</div>
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
                        <div class="item-text">
                            <p>Đây là dự án... <br> đầu tư .... </p>
                            <ul>
                                <li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
                                <li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
                                <li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- /.single-gallery -->
                <div class="single-gallery slide anim-5-all">
                    <div class="img-holder">
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="">

                        <div class="content">
                            <div class="image-view">
                                <a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="title-holder">
                                <h4>Luxury Estate</h4>
                            </div>
                            <div class="link-view">
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="item-name">Luxury Estate</div>
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
                        <div class="item-text">
                            <p>Đây là dự án... <br> đầu tư .... </p>
                            <ul>
                                <li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
                                <li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
                                <li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- /.single-gallery -->
                <div class="single-gallery slide anim-5-all">
                    <div class="img-holder">
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="">

                        <div class="content">
                            <div class="image-view">
                                <a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="title-holder">
                                <h4>Luxury Estate</h4>
                            </div>
                            <div class="link-view">
                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content">
                        <div class="item-name">Luxury Estate</div>
                        <img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
                        <div class="item-text">
                            <p>Đây là dự án... <br> đầu tư .... </p>
                            <ul>
                                <li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
                                <li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
                                <li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
                            </ul>
                        </div>

                    </div>
                </div><!-- /.single-gallery -->
            </div><!-- /.image-gallery -->
        </div>
    </div>
</section><!-- /.sliding-gallery -->



<!-- gallery Modal -->
<div class="modal fade" id="single-gallery-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelTwo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabelTwo">Details of <span class="item-name">drawing
                        room</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-holder item-image">
                            <img src="{% static 'img/gallery/1.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 item-text">
                        <!-- content loading via jQuery -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /gallery Modal -->



<!-- .call-to-action -->
<section class="call-to-action anim-5-all">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 call-to-action-text">
                <h1>Tham gia khóa học</h1>
            </div>
            <div class="col-lg-3 call-to-action-button anim-5-all text-center">
                <button data-toggle="modal" data-target="#contact-agent-modal">Liên Hệ</button>
            </div>
        </div>
    </div>
</section><!-- /.call-to-action -->

<!-- #room-dimention -->


<!-- #location-neighbouring -->
<section id="location-neighbouring" class="style-two">
    <div class="container">
        <!-- .section-title -->
        <div class="section-title text-center">
            <span>Về Học Viên</span>
            <h2><span>Học viên tiêu biểu & cảm nhận</span></h2>
            <p>Với tâm huyết nghề nghiệp, Mr. Tuấn Anh đã tổ chức hàng chục chương trình đào tạo về Kinh doanh & BĐS.
                Thường xuyên chia sẽ trên các kênh truyền thông TV, Báo chí về BĐS và cuộc sống.
                <br>Thực hiện Tư vấn đầu tư với nhiều loại hình khác nhau, như: Quản lý dự án, giám sát các Cao ốc,
                Villa, các dự án Hạ tầng, tổ chức đầu tư các dự án cho các nhà đầu tư các nhân: lập khu dân cư, nhà
                xưởng, Cho thuê ...
            </p>
        </div><!-- /.section-title -->

    </div>
</section><!-- /#location-neighbouring -->

<section class="testimonial has-overlay parallax-section" style="background-image: url(img/testimonials/bg.jpg);">
    <div class="container">
        <!-- .testimonial-wrap -->
        <div class="testimonial-wrap-style-two">
            <div class="clearfix">
                <div class="owl-carousel owl-theme">
                    <!-- .single-testimonail -->
                    <div class="single-testimonail item">
                        <div class="img-holder">
                            <img src="{% static 'img/testimonials/2.png' %}" alt="">
                        </div>
                        <div class="content clearfix">
                            <p><span class="qoute">“</span>Với tâm huyết nghề nghiệp, Mr. Tuấn Anh đã tổ chức hàng chục
                                chương trình đào tạo về Kinh doanh & BĐS. Thường xuyên chia sẽ trên các kênh truyền
                                thông TV, Báo chí về BĐS và cuộc sống.
                            </p>
                            <p></p>
                            <div class="meta">
                                <span class="name">- Michale John</span>
                                <span class="postion">Spsum is simply dummy</span>
                            </div>
                        </div>
                    </div><!-- /.single-testimonail -->
                    <!-- .single-testimonail -->
                    <div class="single-testimonail item">
                        <div class="img-holder">
                            <img src="{% static 'img/testimonials/2.png' %}" alt="">
                        </div>
                        <div class="content clearfix">
                            <p><span class="qoute">“</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons equat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse.</p>
                            <div class="meta">
                                <span class="name">- Michale John</span>
                                <span class="postion">Spsum is simply dummy</span>
                            </div>
                        </div>
                    </div><!-- /.single-testimonail -->
                    <!-- .single-testimonail -->
                    <div class="single-testimonail item">
                        <div class="img-holder">
                            <img src="{% static 'img/testimonials/2.png' %}" alt="">
                        </div>
                        <div class="content clearfix">
                            <p><span class="qoute">“</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons equat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse.</p>
                            <div class="meta">
                                <span class="name">- Michale John</span>
                                <span class="postion">Spsum is simply dummy</span>
                            </div>
                        </div>
                    </div><!-- /.single-testimonail -->
                    <!-- .single-testimonail -->
                    <div class="single-testimonail item">
                        <div class="img-holder">
                            <img src="{% static 'img/testimonials/2.png' %}" alt="">
                        </div>
                        <div class="content clearfix">
                            <p><span class="qoute">“</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons equat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse.</p>
                            <div class="meta">
                                <span class="name">- Michale John</span>
                                <span class="postion">Spsum is simply dummy</span>
                            </div>
                        </div>
                    </div><!-- /.single-testimonail -->
                </div>
            </div>
        </div><!-- /.testimonial-wrap -->
    </div>
</section>

<section id="check-video" class="anim-5-all">
    <div class="container">
        <div class="row">
            <!-- .check-video-box -->
            <div class="col-lg-6 col-md-6 check-video-box">
                <div class="img-holder">
                    <img src="{% static 'img/check-video/vid1.jpg' %}" alt="">
                    <div class="content">
                        <a class="video-fancybox" title="Awesome RealEsate"
                            href="https://www.youtube.com/watch?v=sI1kf9w9wjY&t=96s;autoplay=1"><i
                                class="fa fa-play-circle"></i></a>
                    </div>
                </div>
            </div><!-- /.check-video-box -->

            <div class="col-lg-6 col-md-6 check-video-box">
                <div class="img-holder">
                    <img src="{% static 'img/check-video/vid1.jpg' %}" alt="">
                    <div class="content">
                        <a class="video-fancybox" title="Awesome RealEsate"
                            href="https://www.youtube.com/watch?v=sI1kf9w9wjY&t=96s;autoplay=1"><i
                                class="fa fa-play-circle"></i></a>
                    </div>
                </div>
            </div><!-- /.check-video-box -->
            <!-- .check-video-text -->
            <div class="col-lg-6 col-md-6 check-video-text">
                <!-- .section-title -->
                <p>Cảm nhận của 1 số anh chị đã học qua lớp BDS thực tế</p>
                <a href="#">Xem thêm</a>
            </div><!-- /.check-video-text -->
            <div class="col-lg-6 col-md-6 check-video-text">
                <p>Cảm nhận của 1 số anh chị đã học qua lớp BDS thực tế</p>
                <a href="#">Xem thêm</a>
            </div><!-- /.check-video-text -->
        </div>

    </div>
</section>

<section class="contact-style-two anim-5-all" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 contact-info-wrap">
                <!-- .section-title -->
                <div class="section-title">
                    <span>Văn phòng đại diện</span>
                    <h2><span>Lion Invest</span></h2>
                </div><!-- /.section-title -->
                <div class="contact-info">
                    <ul>
                        <li>Phòng 502 - GIC Tower <br>18A Nguyễn Gia Trí, Phường 25, Bình Thạnh</li>
                        <li>Phone : 0911 -100-502</li>
                        <li>Email : lionivestco@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 right-side-overlay-full">
                <!-- .contact-form-wrap -->
                <div class="contact-form-wrap">
                    <form action="http://world5.commonsupport.com/html/apart-villa/inc/sendemail.php"
                        class="contact-form">
                        <p><input name="name" type="text" placeholder="Tên"></p>
                        <p><input name="phone" type="text" placeholder="Số điện thoại"></p>
                        <p><input name="email" type="text" placeholder="Email"></p>
                        <p><textarea name="message" placeholder="Tin nhắn"></textarea></p>
                        <p><button type="submit">Nhận thông tin</button></p>
                    </form>
                </div><!-- /.contact-form-wrap -->
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="contact-agent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">Liên hệ với chúng tôi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="modal-agent-info-box">
                    <div class="img-holder">
                        <img src="{% static 'img/contact-agent-modal/1.png' %}" alt="">
                    </div>
                    <div class="content">
                        <h3><span class="name">Huế Nguyễn</span> <span class="position"></span></h3>
                        <p>Phone : +84 12345678 &emsp; Email : lioninvestco@gmail.com</p>
                    </div>
                </div>
                <div class="modal-contact-form">
                    <!-- .contact-form-wrap -->
                    <div class="contact-form-wrap anim-5-all">
                        <form action="http://world5.commonsupport.com/html/apart-villa/inc/sendemail.php"
                            class="contact-form row">
                            <div class="col-md-6">
                                <p><input name="name" type="text" placeholder="Tên"></p>
                                <p><input name="phone" type="text" placeholder="Số điện thoại"></p>
                                <p><input name="email" type="text" placeholder="Email"></p>
                            </div>
                            <div class="col-md-6">
                                <p><textarea name="message" placeholder="Tin nhắn"></textarea></p>
                                <p><button type="submit">Nhận thông tin</button></p>
                            </div>
                        </form>
                    </div><!-- /.contact-form-wrap -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}