{% load static%}
<footer id="footer-home" class="anim-5-all text-center-sm text-center-xs">
  <!-- map -->
  <!-- <div class="container"> <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-6">
        <div class="form">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.560692515782!2d106.7143735941038!3d10.802014145296555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a5b2cc7211%3A0x6f2766199d553684!2zMThhIMSQxrDhu51uZyBOZ3V54buFbiBHaWEgVHLDrSwgUGjGsOG7nW5nIDI1LCBCw6xuaCBUaOG6oW5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1572581052711!5m2!1svi!2s"
            width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div></div> -->
  <div class="container">
     
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12 pull-right text-right text-center-sm text-center-xs">
        <!-- .footer-menu -->
        <div class="footer-menu">

          <li><a href="contact.html">LIÊN HỆ</a></li>
          <p>Diễn Giả Phạm Tuấn Anh</p>
          <p>Địa chỉ: Phòng 502 GIC Tower - 18A, Nguyễn Gia Trí, Phường 25, Bình Thạnh, TPHCM</p>
          <p>Email: lioninvestco@gmail.com - Hotline: 0911.100.502</p>
        </div><!-- /.footer-menu -->

        <!-- .footer-copyright -->
        <div class="footer-copyright">
          <p>Copyright &copy; Lion Invest</p>
        </div><!-- /.footer-copyright -->
      </div>
    </div>

  </div>
</footer><!-- /#footer-home -->