{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
	<meta charset="UTF-8">
	<title>
		{% block head_title %}
		Phạm Tuấn Anh
		{% endblock %}
	</title>
	<!-- reponsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- .preloader -->
<div class="preloader"></div>
<!-- /.preloader -->

<div id="banner-style-two" class="anim-5-all">
	<div class="container clearfix">
		<div class="col-md-6 col-sm-6 banner-content pull-left">
			<div class="banner-content-box">
				<h1>PHẠM TUẤN ANH</h1>
				<p>CHUYÊN GIA BDS CAO CẤP</p>
				<p>18A, Nguyễn Gia Trí, Phường 25, Bình Thạnh <br>Thành Phố Hồ Chí Minh</p>

			</div>
			<a href="#" data-toggle="modal" data-target="#contact-agent-modal">Khóa học <i
					class="fa fa-arrow-circle-right"></i></a>
		</div>
		<div class="make-appointment contact-content pull-right">
			<div class="top-header">
				<h3>Nhận thông tin khóa học</h3>
			</div>
			<!-- .contact-form-wrap -->
			<div class="contact-form-wrap">
				<form action="http://world5.commonsupport.com/html/apart-villa/inc/sendemail.php" class="contact-form">
					<p><input name="name" type="text" placeholder="Tên"></p>
					<p><input name="phone" type="text" placeholder="Số điện thoại"></p>
					<p><input name="email" type="text" placeholder="Email"></p>
					<p><textarea name="message" placeholder="Tin nhắn"></textarea></p>
					<p><button type="submit">Chấp nhận</button></p>
				</form>
			</div><!-- /.contact-form-wrap -->
		</div>
	</div>
</div>

<section id="about-section" class="parallax-section" style="background-image: url{% static 'img/about/bg.png' %};">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 text-center-sm text-center-xs">
				<!-- .img-holder -->
				<div class="img-holder">

					<img src="{% static 'img/about/1.jpg' %}" alt="">
				</div><!-- /.img-holder -->
			</div>
			<!-- .about-text -->
			<div class="col-lg-8 col-md-8 about-text">
				<!-- .section-title -->
				<div class="section-title">
					<span>Vài điều về Diễn Giả</span>
					<h2><span>Lý lịch chuyên gia</span></h2>
				</div><!-- /.section-title -->
				<p>Sinh năm 1977 tại TP. Việt Trì, trong gia đình công chức — bố là Nhà báo, mẹ là Bác sỹ. Học ban
					A, chuyên Toán. Năm 1995 về Hà Nội theo học chính quy trường Đại Học Xây Dựng Hà Nội, đến năm 2000
					tốt nghiệp chuyên ngành Civil Engineering và chuyển vào Sài Gòn sinh sống & công tác trong lĩnh vực
					Xây dựng — Bất động sản.</p>

				<div class="section-title">
					<h2><span>Quá trình làm việc</span></h2>
				</div><!-- /.section-title -->
				<ul>
					<li><i class="fa fa-check-square-o"></i>2004: Trưởng ban Quản
						lý Kỹ
						thuật
						- Chung cư P.5, Q.8
						(2004) Q.8, TP. HCM
						Cty Investco. (CĐT)
					</li>
					<li><i class="fa fa-check-square-o"></i>2005: Trưởng Ban KSDA
						- Chung cư Bình Phú
						Q.5, TP. HCM
						Cty Investco.
					</li>
					<li><i class="fa fa-check-square-o"></i>2006: Trưởng Ban Kiểm soát dự
						án - Villars Riviera project
						Q.2, TP. HCM
						Cty Investco.
					</li>
					<li><i class="fa fa-check-square-o"></i>2007:Giám đốc dự án - HT Mobile project KV miền Nam Cty
						Nortel Vietnam LTD.
					</li>
					<li><i class="fa fa-check-square-o"></i>2006: Trưởng Ban Kiểm soát dự
						án - Villars Riviera project
						Q.2, TP. HCM
						Cty Investco.
					</li>
					<li><i class="fa fa-check-square-o"></i>2008:Quản lý
						dự án Tư vấn trưởng - BMW Showroom
						Tại Q.7, TP. HCM
						Cty CPE Engineering JSC.

					</li>
					<li><i class="fa fa-check-square-o"></i>2009: Quản lý 9 dự án thiết kế của ICIC
					</li>
					<li><i class="fa fa-check-square-o"></i>2010-2012:Giám đốc dự án- Tuyen Lam Lake Hotel & Resort
					</li>
					<li><i class="fa fa-check-square-o"></i>2012 - 2014: Giám đốc dự án -
						The Seasons Bình Dương
						Viet Land Corperation
					</li>
				</ul>

			</div><!-- /.about-text -->
		</div>
	</div>
</section><!-- /#about-section -->

<section id="property-highlight">
	<div class="container">
		<div class="row">
			<!-- .full-img -->
			<div class="col-lg-5 col-md-12 col-sm-12 full-img">
				<!-- .img-holder -->
				<div class="img-holder">
					<img src="{% static '/img/property-highlight/bang.jpg' %}" alt="">
				</div><!-- /.img-holder -->
			</div><!-- /.full-img -->
			<!-- .property-highlight-text -->
			<div class="col-lg-7 col-md-12 col-sm-12 property-highlight-text">
				<!-- .section-title -->
				<div class="section-title">
					<h2><span>Học Vấn & Bằng Cấp</span></h2>
				</div><!-- /.section-title -->
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<!-- .single-property-highlight -->
						<div class="single-property-highlight">
							<h3>Chứng chỉ Môi giới BĐS Cao cấp
							</h3>
							<p>2019: Chứng chỉ Môi giới BĐS Cao cấp — Edureal / CRS—USA cấp</p>
						</div><!-- /.single-property-highlight -->
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<!-- .single-property-highlight -->
						<div class="single-property-highlight">
							<h3>Chứng chỉ hành nghề Môi Giới BĐS
							</h3>
							<p>2011: Chứng chỉ hành nghề Môi Giới BĐS
								- Sở XD TP. HCM cấp.
							</p>
						</div><!-- /.single-property-highlight -->
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<!-- .single-property-highlight -->
						<div class="single-property-highlight">
							<h3>Chứng chỉ Chuyên viên phân tích tài chính - CFA
							</h3>
							<p>2007: Chứng chỉ Chuyên viên phân tích tài chính - CFA, Viện Washington, Mỹ cấp
							</p>
						</div><!-- /.single-property-highlight -->
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<!-- .single-property-highlight -->
						<div class="single-property-highlight">
							<h3>Chứng chỉ Quản lý dự án, học bổng AOTS
							</h3>
							<p>2006: Chứng chỉ Quản lý dự án, học bổng AOTS - Nhật Bản cấp
							</p>
						</div><!-- /.single-property-highlight -->
					</div>
				</div>
			</div><!-- /.property-highlight-text -->
		</div>
	</div>
</section><!-- /#property-highlight -->


<!-- .sliding-gallery -->
<section class="sliding-gallery dark-bg" id="gallery-section">
	<div class="container-fluid">
		<!-- .section-title -->
		<div class="section-title text-center">
			<h2><span>hình ảnh</span></h2>
			<p>Một số hình ảnh về các hoạt động</p>
		</div><!-- /.section-title -->
		<div class="row">
			<!-- .image-gallery -->
			<div class="image-gallery bx-slider">
				<!-- .single-gallery -->
				<div class="single-gallery slide anim-5-all">
					<div class="img-holder">
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="">

						<div class="content">
							<div class="image-view">
								<a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
									<i class="fa fa-camera"></i>
								</a>
							</div>
							<div class="title-holder">
								<h4>Luxury Estate</h4>
							</div>
							<div class="link-view">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-content">
						<div class="item-name">Luxury Estate</div>
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
						<div class="item-text">
							<p>Đây là dự án... <br> đầu tư .... </p>
							<ul>
								<li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
								<li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
								<li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
							</ul>
						</div>

					</div>
				</div><!-- /.single-gallery -->
				<div class="single-gallery slide anim-5-all">
					<div class="img-holder">
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="">

						<div class="content">
							<div class="image-view">
								<a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
									<i class="fa fa-camera"></i>
								</a>
							</div>
							<div class="title-holder">
								<h4>Luxury Estate</h4>
							</div>
							<div class="link-view">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-content">
						<div class="item-name">Luxury Estate</div>
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
						<div class="item-text">
							<p>Đây là dự án... <br> đầu tư .... </p>
							<ul>
								<li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
								<li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
								<li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
							</ul>
						</div>

					</div>
				</div><!-- /.single-gallery -->
				<div class="single-gallery slide anim-5-all">
					<div class="img-holder">
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="">

						<div class="content">
							<div class="image-view">
								<a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
									<i class="fa fa-camera"></i>
								</a>
							</div>
							<div class="title-holder">
								<h4>Luxury Estate</h4>
							</div>
							<div class="link-view">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-content">
						<div class="item-name">Luxury Estate</div>
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
						<div class="item-text">
							<p>Đây là dự án... <br> đầu tư .... </p>
							<ul>
								<li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
								<li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
								<li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
							</ul>
						</div>

					</div>
				</div><!-- /.single-gallery -->
				<div class="single-gallery slide anim-5-all">
					<div class="img-holder">
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="">

						<div class="content">
							<div class="image-view">
								<a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
									<i class="fa fa-camera"></i>
								</a>
							</div>
							<div class="title-holder">
								<h4>Luxury Estate</h4>
							</div>
							<div class="link-view">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-content">
						<div class="item-name">Luxury Estate</div>
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
						<div class="item-text">
							<p>Đây là dự án... <br> đầu tư .... </p>
							<ul>
								<li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
								<li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
								<li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
							</ul>
						</div>

					</div>
				</div><!-- /.single-gallery -->
				<div class="single-gallery slide anim-5-all">
					<div class="img-holder">
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="">

						<div class="content">
							<div class="image-view">
								<a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
									<i class="fa fa-camera"></i>
								</a>
							</div>
							<div class="title-holder">
								<h4>Luxury Estate</h4>
							</div>
							<div class="link-view">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-content">
						<div class="item-name">Luxury Estate</div>
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
						<div class="item-text">
							<p>Đây là dự án... <br> đầu tư .... </p>
							<ul>
								<li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
								<li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
								<li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
							</ul>
						</div>

					</div>
				</div><!-- /.single-gallery -->
				<div class="single-gallery slide anim-5-all">
					<div class="img-holder">
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="">

						<div class="content">
							<div class="image-view">
								<a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
									<i class="fa fa-camera"></i>
								</a>
							</div>
							<div class="title-holder">
								<h4>Luxury Estate</h4>
							</div>
							<div class="link-view">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-content">
						<div class="item-name">Luxury Estate</div>
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
						<div class="item-text">
							<p>Đây là dự án... <br> đầu tư .... </p>
							<ul>
								<li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
								<li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
								<li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
							</ul>
						</div>

					</div>
				</div><!-- /.single-gallery -->
				<div class="single-gallery slide anim-5-all">
					<div class="img-holder">
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="">

						<div class="content">
							<div class="image-view">
								<a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
									<i class="fa fa-camera"></i>
								</a>
							</div>
							<div class="title-holder">
								<h4>Luxury Estate</h4>
							</div>
							<div class="link-view">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-content">
						<div class="item-name">Luxury Estate</div>
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
						<div class="item-text">
							<p>Đây là dự án... <br> đầu tư .... </p>
							<ul>
								<li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
								<li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
								<li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
							</ul>
						</div>

					</div>
				</div><!-- /.single-gallery -->
				<div class="single-gallery slide anim-5-all">
					<div class="img-holder">
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="">

						<div class="content">
							<div class="image-view">
								<a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
									<i class="fa fa-camera"></i>
								</a>
							</div>
							<div class="title-holder">
								<h4>Luxury Estate</h4>
							</div>
							<div class="link-view">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-content">
						<div class="item-name">Luxury Estate</div>
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
						<div class="item-text">
							<p>Đây là dự án... <br> đầu tư .... </p>
							<ul>
								<li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
								<li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
								<li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
							</ul>
						</div>

					</div>
				</div><!-- /.single-gallery -->
				<div class="single-gallery slide anim-5-all">
					<div class="img-holder">
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="">

						<div class="content">
							<div class="image-view">
								<a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
									<i class="fa fa-camera"></i>
								</a>
							</div>
							<div class="title-holder">
								<h4>Luxury Estate</h4>
							</div>
							<div class="link-view">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-content">
						<div class="item-name">Luxury Estate</div>
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
						<div class="item-text">
							<p>Đây là dự án... <br> đầu tư .... </p>
							<ul>
								<li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
								<li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
								<li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
							</ul>
						</div>

					</div>
				</div><!-- /.single-gallery -->
				<div class="single-gallery slide anim-5-all">
					<div class="img-holder">
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="">

						<div class="content">
							<div class="image-view">
								<a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
									<i class="fa fa-camera"></i>
								</a>
							</div>
							<div class="title-holder">
								<h4>Luxury Estate</h4>
							</div>
							<div class="link-view">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-content">
						<div class="item-name">Luxury Estate</div>
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
						<div class="item-text">
							<p>Đây là dự án... <br> đầu tư .... </p>
							<ul>
								<li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
								<li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
								<li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
							</ul>
						</div>

					</div>
				</div><!-- /.single-gallery -->
				<div class="single-gallery slide anim-5-all">
					<div class="img-holder">
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="">

						<div class="content">
							<div class="image-view">
								<a class="fancybox" href="{% static '/img/gallery2/1.jpg' %}">
									<i class="fa fa-camera"></i>
								</a>
							</div>
							<div class="title-holder">
								<h4>Luxury Estate</h4>
							</div>
							<div class="link-view">
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="modal-content">
						<div class="item-name">Luxury Estate</div>
						<img src="{% static '/img/gallery2/1.jpg' %}" alt="" class="item-image">
						<div class="item-text">
							<p>Đây là dự án... <br> đầu tư .... </p>
							<ul>
								<li><i class="fa fa-long-arrow-right"></i> Vị trí đẹp</li>
								<li><i class="fa fa-long-arrow-right"></i> Giao thông thuận lợi</li>
								<li><i class="fa fa-long-arrow-right"></i> Có tiềm năng để đầu tư</li>
							</ul>
						</div>

					</div>
				</div><!-- /.single-gallery -->
			</div><!-- /.image-gallery -->
		</div>
	</div>
</section><!-- /.sliding-gallery -->

<div class="modal fade" id="single-gallery-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelTwo">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-center" id="myModalLabelTwo">Details of <span class="item-name">drawing
						room</span></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<div class="img-holder item-image">
							<img src="{% static '/img/gallery1.jpg' %}" alt="">
						</div>
					</div>
					<div class="col-md-6 item-text">
						<!-- content loading via jQuery -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section id="location-neighbouring" class="style-two">
	<div class="container">
		<!-- .section-title -->
		<div class="section-title text-center">

			<h2><span>Sứ mệnh</span></h2>
			<p>Mr. Phạm Tuấn Anh không chỉ là 1 nhà đầu tư bất động sản, bên cạnh đó còn là 1 người thầy, 1 nhà đào
				tạo....</p>
			<p>Xây dựng 10 dự án BĐS có ý nghĩa xã hội trước 60 tuổi. Xây dựng các dự án phát triển tri thức, kinh
				tế vùng cao, vùng sâu Việt Nam</p>
			<p>Truyền cảm hứng đầu tư BĐS Tử tế tới 10 triệu người Việt Nam trưởng thành, hướng dẫn đầu tư tới 1
				triệu người, và dìu dắt 5000 nhà đầu tư chuyên nghiệp.
			</p>
		</div><!-- /.section-title -->
		<div class="row">
			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Nhà đầu tư</h3>
					<p>Một nhà đầu tư chuyên nghiệp</p>
					<p class="distance"><span class="number">100</span> Dự án</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Chuyên Gia</h3>
					<p>Là 1 chuyên gia về đầu tư bất động sản</p>
					<p class="distance"><span class="number">20</span> Năm</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Diễn giả</h3>
					<p>Là bậc thầy về đào tạo đầu tư bất động sản</p>
					<p class="distance"><span class="number">10</span> Năm</p>
				</div>
			</div>

			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Dự án</h3>
					<p>Giữ nhiều chức vụ quan trọng trong các dự án</p>
					<p class="distance"><span class="number">100 </span> Dự án</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Người dẫn đường</h3>
					<p>Truyền cảm hứng và tri thức đến học viên</p>
					<p class="distance"><span class="number">1000</span> Học viên</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<div class="single-neighbour">
					<h3>Đào tạo</h3>
					<p>Tổ chức rất nhiều lớp học đầu tư</p>
					<p class="distance"><span class="number">100</span> Lớp</p>
				</div>
			</div>

		</div>
	</div>
</section><!-- /#location-neighbouring -->

<section class="testimonial has-overlay parallax-section"
	style="background-image: url({% static 'img/testimonials/bg.jpg' %});">
	<div class="container">
		<!-- .testimonial-wrap -->
		<div class="testimonial-wrap-style-two">
			<div class="clearfix">
				<div class="owl-carousel owl-theme">
					<!-- .single-testimonail -->
					<div class="single-testimonail item">
						<div class="img-holder">
							<img src="{% static 'img/testimonials/2.png' %}" alt="">
						</div>
						<div class="content clearfix">
							<p><span class="qoute">“</span>Những kiến thức của thầy đúc kết rất thực tiễn và giá trị.
								Nếu biết trước thì có lẽ mình đã cẩn thận và phân tích dòng tiền tài chính kỹ hơn chứ
								không vội vàng khi mua lô đất bên quận 9 hồi tháng 4/2019. Mình sẽ áp dụng những kiến
								thức này để biến các bất động sản sau này thành tài sản và tạo dòng tiền tốt.</p>
							<div class="meta">
								<span class="name">- Trịnh Hưng Thạnh</span>
								<span class="postion">Thi công nội thất</span>
							</div>
						</div>
					</div><!-- /.single-testimonail -->
					<!-- .single-testimonail -->
					<div class="single-testimonail item">
						<div class="img-holder">
							<img src="{% static 'img/testimonials/2.png' %}" alt="">
						</div>
						<div class="content clearfix">
							<p><span class="qoute">“</span>Sau 2 ngày học và nghe những kiến thức thầy Phạm Tuấn Anh
								chia sẻ, em thấy mình may mắn khi được biết đến khóa học và được học những kiến thức từ
								thầy. Tuy chỉ 2 ngày học nhưng em đã tích lũy được một lượng kiến thức về đầu tư bất
								động sản và kế hoạch tài chính.</p>
							<div class="meta">
								<span class="name">- Trần Thị Mỹ Nương </span>
								<span class="postion">Spa và thẩm mỹ</span>
							</div>
						</div>
					</div><!-- /.single-testimonail -->
					<!-- .single-testimonail -->
					<div class="single-testimonail item">
						<div class="img-holder">
							<img src="{% static 'img/testimonials/2.png' %}" alt="">
						</div>
						<div class="content clearfix">
							<p><span class="qoute">“</span>Qua 2 ngày học em đúc kết được nhiều kiến thức từ thầy:Hệ
								thống kiến thức về tài sản BĐS là gì ?Phương pháp chiến lược để đầu tư BĐS.Em tâm đắc
								nhất là kế hoạch để hoạch định dòng tiền trong cuộc sống cá nhân và kinh doanh hiệu quả.
								Em nghĩ sẽ cảm nhận, học hỏi và đào sâu về sức mạnh đầu tư. Các kiến thức thầy dạy rất
								bổ ích
							</p>
							<div class="meta">
								<span class="name">- Đặng Đức Tài </span>
								<span class="postion">Chuyên viên tín dụng</span>
							</div>
						</div>
					</div><!-- /.single-testimonail -->
					<!-- .single-testimonail -->
					<div class="single-testimonail item">
						<div class="img-holder">
							<img src="{% static 'img/testimonials/2.png' %}" alt="">
						</div>
						<div class="content clearfix">
							<p><span class="qoute">“</span>Lần đầu tiên tôi được học về BĐS tôi cảm thấy rất may mắn vì
								những kiến thức thầy chia sẻ rất cụ thể và rõ rang, chuyên sâu về đầu tư, kinh doanh
								BĐS. Qua buổi học tôi hiểu được cách lập dự án kinh doanh BĐS và định giá được tài sản,
								biết lập ngân sách để sử dụng tài chính họp lý vào dự án BĐS. Cảm ơn thầy Phạm Tuấn Anh
								đã giúp đỡ các bạn học và em có thêm kiến thức.</p>
							<div class="meta">
								<span class="name">- Hồ Ngọc Trâm </span>
								<span class="postion">CEO & Founder Dalat Ecofarm</span>
							</div>
						</div>
					
					</div><!-- /.single-testimonail -->
					<div class="single-testimonail item">
							<div class="img-holder">
								<img src="{% static 'img/testimonials/2.png' %}" alt="">
							</div>
							<div class="content clearfix">
									<p><span class="qoute">“</span>Thầy chia sẻ các kiến thức rất bổ ích về BĐS thực tế, cung
										cấp các kiến thức về quy hoạch, đầu tư, xây dựng, pháp lý, vị trí,… và cả các kiến thức
										về tài chính mang tầm quốc tế, quốc gia. Đó là những kiến thức rất vững chắc, cơ bản để
										các nhà đầu tư tự tin ra thị trường.
										Cảm nhận thầy là người rất có tâm, chia sẻ rất chân tình với ý nghĩa “cho đi giá trị”
										cho cộng đồng.
									</p>
									<div class="meta">
										<span class="name">- Đào Lan Anh </span>
										<span class="postion">Đầu tư tự do</span>
								</div>
							</div>
						</div><!-- /.single-testimonail -->
				</div>
			</div>
		</div><!-- /.testimonial-wrap -->
	</div>
</section>

<section id="check-video" class="anim-5-all">
	<div class="container">
		<div class="row">
			<!-- .check-video-box -->
			<div class="col-lg-6 col-md-6 check-video-box">
				<div class="img-holder">
					<img src="{% static 'img/check-video/vid1.jpg' %}" alt="">
					<div class="content">
						<a class="video-fancybox" title="Awesome RealEsate"
							href="https://www.youtube.com/watch?v=sI1kf9w9wjY&t=96s;autoplay=1"><i
								class="fa fa-play-circle"></i></a>
					</div>
				</div>
			</div><!-- /.check-video-box -->
			<!-- .check-video-text -->
			<div class="col-lg-6 col-md-6 check-video-text">
				<!-- .section-title -->
				<div class="section-title">
					<span>Video chia sẻ</span>
					<h2><span>Chia sẻ kinh nghiệm đầu tư BDS</span></h2>
				</div><!-- /.section-title -->
				<p>Cùng xem thầy Phạm Tuấn Anh chia sẻ về kinh nghiệm đầu tư BDS như thế nào cho hiệu quả..</p>
				<a href="#">Xem thêm</a>
			</div><!-- /.check-video-text -->
		</div>
	</div>
</section>
<!-- /#check-video --

<!-- #blogs -->
<section id="blogs" class="anim-5-all">
	<div class="container">
		<!-- .section-title -->
		<div class="section-title text-center">
			<span>Kiến thức</span>
			<h2><span>Diễn đàn</span></h2>
		</div><!-- /.section-title -->
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<!-- .single-blog-post -->
				<div class="single-blog-post">
					<div class="img-holder">
						<img src="{% static 'img/blogs/1.jpg' %}" alt="">
						<div class="overlay"><a href="#"><i class="fa fa-link"></i></a></div>
						<div class="date">
							<b>05</b> Aug
						</div>
					</div>
					<ul>
						<li><span>By: Anjori Meyami</span></li>
						<li><a href="#">Comments: 6</a></li>
					</ul>
					<h2 class="title">Heading of Blog</h2>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium doloremque
						laudantium totam rem aperiam</p>
					<a href="#">Read more <i class="fa fa-angle-double-right"></i></a>
				</div><!-- /.single-blog-post -->
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<!-- .single-blog-post -->
				<div class="single-blog-post">
					<div class="img-holder">
						<img src="{% static 'img/blogs/2.jpg' %}" alt="">
						<div class="overlay"><a href="#"><i class="fa fa-link"></i></a></div>
						<div class="date">
							<b>05</b> Aug
						</div>
					</div>
					<ul>
						<li><span>By: Anjori Meyami</span></li>
						<li><a href="#">Comments: 6</a></li>
					</ul>
					<h2 class="title">Heading of Blog</h2>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium doloremque
						laudantium totam rem aperiam</p>
					<a href="#">Read more <i class="fa fa-angle-double-right"></i></a>
				</div><!-- /.single-blog-post -->
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-3">
				<!-- .single-blog-post -->
				<div class="single-blog-post">
					<div class="img-holder">
						<img src="{% static 'img/blogs/3.jpg' %}" alt="">
						<div class="overlay"><a href="#"><i class="fa fa-link"></i></a></div>
						<div class="date">
							<b>05</b> Aug
						</div>
					</div>
					<ul>
						<li><span>By: Anjori Meyami</span></li>
						<li><a href="#">Comments: 6</a></li>
					</ul>
					<h2 class="title">Heading of Blog</h2>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa nt ium doloremque
						laudantium totam rem aperiam</p>
					<a href="#">Read more <i class="fa fa-angle-double-right"></i></a>
				</div><!-- /.single-blog-post -->
			</div>
		</div>
	</div>
</section><!-- /#blogs -->

<section class="contact-style-two anim-5-all" id="contact-section">
	<div class="container">
		<div class="row">
			<div class="col-md-5 contact-info-wrap">
				<!-- .section-title -->
				<div class="section-title">
					<span>Văn phòng đại diện</span>
					<h2><span>Lion Invest</span></h2>
				</div><!-- /.section-title -->
				<div class="contact-info">
					<ul>
						<li>Phòng 502 - GIC Tower <br>18A Nguyễn Gia Trí, Phường 25, Bình Thạnh</li>
						<li>Phone : 0911 -100-502</li>
						<li>Email : lionivestco@gmail.com</li>
					</ul>
				</div>
			</div>
			<div class="col-md-7 right-side-overlay-full">
				<!-- .contact-form-wrap -->
				<div class="contact-form-wrap">
					<form action="http://world5.commonsupport.com/html/apart-villa/inc/sendemail.php"
						class="contact-form">
						<p><input name="name" type="text" placeholder="Tên"></p>
						<p><input name="phone" type="text" placeholder="Số điện thoại"></p>
						<p><input name="email" type="text" placeholder="Email"></p>
						<p><textarea name="message" placeholder="Tin nhắn"></textarea></p>
						<p><button type="submit">Nhận thông tin</button></p>
					</form>
				</div><!-- /.contact-form-wrap -->
			</div>
		</div>
	</div>
</section>
<section id="home-footer-google-map-wrap">
	<div class="form">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.560692515782!2d106.7143735941038!3d10.802014145296555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a5b2cc7211%3A0x6f2766199d553684!2zMThhIMSQxrDhu51uZyBOZ3V54buFbiBHaWEgVHLDrSwgUGjGsOG7nW5nIDI1LCBCw6xuaCBUaOG6oW5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1572581052711!5m2!1svi!2s"
			width="2000" height="450" frameborder="1" style="border:0;" allowfullscreen=""></iframe>
	</div>
</section>

<!-- #home-footer-google-map-wrap -->

<!-- #footer-home -->

<!-- Modal -->



{% endblock %}